.container {
  padding: 0 2rem;
}
.form-row {
  width: 100%;
  margin: 10px 0;
}
.form-row label,
.form-row input,
.form-row textarea,
.form-row select {
  width: 100%;
}
.form-row textarea {
  height: 400px;
}
