.container {
  background-color: #ccc;
  /* Basic editor styles */
}
.container .menu {
  padding: 5px;
  background-color: #0D0D0D;
}
.container .menu > a {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  background: white;
  margin-top: 5px;
  margin-right: 5px;
}
.container .menu .isActive {
  background-color: #0D0D0D;
  color: white;
}
.container .body {
  padding: 10px;
  background-color: white;
  height: 500px;
  overflow-y: auto;
}
.container .body > div {
  height: 100%;
}
.container .body > div > div {
  height: 100%;
  outline: none !important;
}
.container .body > div > div > * + * {
  margin-top: 0.75em;
}
.container .body > div > div ul,
.container .body > div > div ol {
  padding: 0 1rem;
}
.container .body > div > div h1,
.container .body > div > div h2,
.container .body > div > div h3,
.container .body > div > div h4,
.container .body > div > div h5,
.container .body > div > div h6 {
  line-height: 1.1;
}
.container .body > div > div code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}
.container .body > div > div pre {
  background: #0D0D0D;
  color: #FFF;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.container .body > div > div pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.container .body > div > div img {
  max-width: 100%;
  height: auto;
}
.container .body > div > div blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}
.container .body > div > div hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}
